* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #C9C1AE;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    background-color: #E8E4DB;
    color: #687351;
    font-size: 8vmin;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #6C584C;
    color: #E8E4DB;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #6C584C;
    color: #E8E4DB;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #687351;
    font-size: 5vmin;
}

.container-msg {
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vmin;
}

.hide {
   display: none;
}